.filtro {
    height: 50px;
}

.form-control {
    display: inline-block;
}

ul {
    list-style: none;
}

.urgente {
    background-color: red;
}

.diaria {
    background-color: #6030ff;
}

.mensual {
    background-color: lightgreen;
}