.filtro {
    height: 50px;
}

/* .form-control {
    display: inline-block;
} */

ul {
    list-style: none;
}

.hi {
    background-color: red;
}

.me {
    background-color: #6030ff;
}

.lo {
    background-color: lightgreen;
}

footer {
    color: white;
    background-color: black;
    padding: 15px;
    font-size: x-large;
}

.filtro {
    width: 100%;
}

li {
    height: 48px;
}